

Link{
    border-style: none;
    list-style: none;
    outline-style: none;
    text-decoration: none;
  
}

.Homepage__Text{
  position: relative;
  text-align: center;
  color: white;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;

  text-shadow: 0 1px 0 #000000, 0 2px 0 #000000,
  0 3px 0 #000000, 0 4px 0 #000000,
  0 5px 0 #000000, 0 6px 0 #000000,

  0 10px 10px rgba(0, 0, 0, 0.5);
}



.link{
    border-style: none;
    list-style: none;
    outline-style: none;
    text-decoration: none;
  color: black;
}


.heroPage{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px; 
}

.heroPage .title{
  color: white;
}

.heroPage .title h1{

  font-size: 100px;
}

.heroPage .title p{
  font-size: 30px;
}

.heroPage .image img{
  width: 700px;
  height: 500px;
  object-fit: contain;
  box-sizing: border-box;

}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .tools {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1045px) {
  .heroPage .image img{

    width: 400px;
    height: 500px;
  }

}


@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .tools {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .heroPage{

    grid-template-columns: repeat(1, 1fr);
  }
  .title{
    margin: 0px;
  }
  .heroPage .image img{

    width: 500px;
    height: 400px;
  }
  .heroPage .title h1{

    font-size: 50px;
  }

  h2 {
    font-size: 1.5em;
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .tools {
    grid-template-columns: 1fr;
  }

  .heroPage .image img{

    width: 400px;
    height: 300px;
  }

  .heroPage .title h1{

    font-size: 30px;
  }

  .heroPage .title p{
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .tools {
    grid-template-columns: 1fr;
  }

  .heroPage .image img{

    width: 350px;
    height: 250px;
  }

  .heroPage .title h1{

    font-size: 25px;
  }

  .heroPage .title p{
    font-size: 15px;
  }
}

