


#root{
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: none;
  color: white;
}

.tg_container{
margin: 10px;
display: grid;
grid-template-columns: repeat(2,1fr);

}

.tg_image img{

border-radius: 10px;
  height: 100%;
  width: 100%;
  border:black solid 3px;
}


.tg_description p{


  font-size: 25px;
}

.tg_description p li{


  font-size: 25px;
  list-style: none;
}
