

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #1a1a1a, #333333);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite; 
  overflow-x: hidden; 
}



/* Keyframes for background animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
